/**
 * This file is part of Corojoska.
 *
 * Corojoska is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Corojoska is distributed under the hope it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Corojoska. If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Additional font faces used in this stylesheet.
 */
@font-face {
  font-family: "TeX Gyre Chorus";
  src: url('tex-gyre-chorus.otf');
}



/**
 * Page header.
 */
header.header-image {
  background-color: #EEE;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  color: #194eae;
  text-shadow: 0 0 1px #EEE;
}

header.header-image .header-container {
  min-height: 15vw;
  position: relative;
}

.header-container .header-title {
  font-size: 6em;
  font-family: "TeX Gyre Chorus", Arial, sans-serif;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.front-image {
  margin-bottom: 3.5em;
}



/**
 * Page body.
 */
body {
  padding-top: 50px;
  background-color: #C1DEFB;
  background: #194eae;
  background: -moz-linear-gradient(left, #194eae 0%, #194eae 75%, #c1defb 75%, #c1defb 100%);
  background: -webkit-linear-gradient(left, #194eae 0%,#194eae 75%,#c1defb 75%,#c1defb 100%);
  background: linear-gradient(to right, #194eae 0%,#194eae 75%,#c1defb 75%,#c1defb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194eae', endColorstr='#c1defb',GradientType=1 );
}



/**
 * Main content.
 */
main {
  background-color: #EEE;
  background-image: url('main-background.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-left: 1em solid #CECA9F;
  border-right: 1em solid #CECA9F;
  padding-bottom: 2em;
}



/**
 * Page footer.
 */
footer {
  background: #13428b;
  background: -moz-linear-gradient(top, #13428b 0%, #295aaa 30%, #194eae 100%);
  background: -webkit-linear-gradient(top, #13428b 0%,#295aaa 30%,#194eae 100%);
  background: linear-gradient(to bottom, #13428b 0%,#295aaa 30%,#194eae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13428b', endColorstr='#194eae',GradientType=0 );
  color: #EEE;
}



/**
 * Contact page icons.
 */
.contact-icon {
  filter: grayscale(100%);
  transition: 0.5s;
}

.contact-icon:hover {
  filter: grayscale(0%);
}

.contact-icon.media-object {
  max-width: 64px;
}
